@model SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL


@{
    ViewBag.Title = "Simple TreePanel";
    Layout = "";
    var X = Html.X();
    var indicaTriaje = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.COD_BANDEJA == "TRIAJE" ? true : false;
    //var containerId = "Center1";
    //var text = "3461";
    var lol = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.OPCION_PADRE;
    var dd = lol;
    var flagAlergia = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.alergiaExiste;
}

<script>

    var filterTree = function (tf, e) {
        var tree = tf.up("treepanel"),
            store = tree.store,
            logic = App.FilterLogic.getValue() ? tree : store,
            text = tf.getRawValue();

        logic.clearFilter();

        if (Ext.isEmpty(text, false)) {
            return;
        }

        if (e.getKey() === Ext.EventObject.ESC) {
            clearFilter();
        } else {
            var re = new RegExp(".*" + text + ".*", "i");

            logic.filterBy(function (node) {
                return re.test(node.data.text);
            });
        }
    };

    var clearFilter = function () {
        var field = this,
            tree = this.up("treepanel"),
            store = tree.store,
            logic = App.FilterLogic.getValue() ? tree : store;

        field.setValue("");
        logic.clearFilter(true);
        tree.getView().focus();
    };

</script>

<script>

    var nodeLoad = function (view, record, item, index, event) {


        var nodeId = record.data.id;
        var path = record.getPath('text', '/');
    };
    var onItemCheck = function (item, checked) {

        msg("Item Check", 'You {1} the \'{0}\' menu item.', item.text, checked ? "checked" : "unchecked");
    };

    var filterPersonales = function (checkItem, checked) {
        var tree = App.TreeWest,
            regex;

        if (checked) {
            tree.clearFilter(true);
            regex = new RegExp("<span>&nbsp;</span>");
            tree.filterBy(function (node) {
                return regex.test(node.data.text);
            });
        } else {
            tree.clearFilter(true);
        }
    };

    function LoadFormatos(container, text) {
        var cod = text;
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("LoadFormatos"))',
            params: {
                text: cod,
                containerId: container
            }
        });
    };

    function DoNoAcepta() {
        return;
    };



    function DoCancel() {
        return;
    };

    function DoAcepta() {
        parent.App.PanelA.getBody().document.getElementById('cmdGuardar').click();

        @*Ext.net.DirectMethod.request({
            url: '@(Url.Action("LoadFormatos"))',
           params: {
               containerId: Contendor,
               text: opcion
            }
        })*@
    };


    function DoInicio() {
        parent.window.location.href = ' @Url.Action("Index", "BandejaMedico") ';
    };
    function DoNoInicio() {

    };

    function eventoViewReportAntWest() {
        var vista = 'HCReportes/HCEVisorHistorialAnt';
        var container = 'Center1';

        Ext.net.DirectMethod.request({
            url: '@(Url.Action("VisorHCEReportes2"))',
            params: {
                idPaciente: 0,
                idOrdenAtencion: 0,
                codFormato: 0,
                codigoOA: 0,
                Accion: 'VER',
                nombrePaciente: 0,
                Form: vista,
                FormContainer: container

            }
        });
    }

    function eventoViewReportWest() {
        var vista = 'HCReportes/HCEVisorIndicacionesPDF';
        var container = 'Center1';

        Ext.net.DirectMethod.request({
            url: '@(Url.Action("VisorHCEReportes2"))',
            params: {
                idPaciente: 0,
                idOrdenAtencion: 0,
                codFormato: 0,
                codigoOA: 0,
                Accion: 'VER',
                nombrePaciente: 0,
                Form: vista,
                FormContainer: container

            }
        });
    }

    function eventoViewAlergiaWest() {
        var vista = 'HCReportes/HCEAlergiaView';
        var container = 'centerPanels';

        Ext.net.DirectMethod.request({
            url: '@(Url.Action("VisorHCEAlergiasReportes"))',
            params: {
                idPaciente: 0,
                idOrdenAtencion: 0,
                codFormato: 0,
                codigoOA: 0,
                Accion: 'VER',
                nombrePaciente: 0,
                Form: vista,
                FormContainer: container

            }
        })
    }

    function eventoViewBitacoraWest() {
        var vista = 'HCReportes/HCEBitacoraView';
        var container = 'centerPanels';

        Ext.net.DirectMethod.request({
            url: '@(Url.Action("VisorHCEReportes"))',
            params: {
                idPaciente: 0,
                idOrdenAtencion: 0,
                codFormato: 0,
                codigoOA: 0,
                Accion: 'VER',
                nombrePaciente: 0,
                Form: vista,
                FormContainer: container

            }
        });
    }

    function eventoViewHistoriaClinicaWest() {
        var vista = 'HCReportes/HCEHistoriaClinicaHCE';
        var container = 'centerPanels';

        Ext.net.DirectMethod.request({
            url: '@(Url.Action("VisorHCEReportesclick"))',
            params: {
                idPaciente: 0,
                idOrdenAtencion: 0,
                codFormato: 0,
                codigoOA: 0,
                Accion: 'VER',
                nombrePaciente: 0,
                Form: vista,
                FormContainer: container

            }
        });
    }

    function initLoadFormatos() {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("initLoadFormatos"))',
            params: {
                container: 'Center1'
            }
        });
    }

    function initLoadFormatosArbol(opc) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("LoadFormatosArbol"))',
            params: {
                containerId: 'Center1',
                opc: opc
            }
        });
    }

    function cambiotab(val1, val2, val3) {


        initLoadFormatosArbol(val2.id);

        if (val2.id == "Bita") {
            var arbol = Ext.getCmp('TreeWestBitacora');
            arbol.store.proxy.url = "HClinica/ArbolMacroProcesosBitacora";
            arbol.store.load(arbol.getRootNode());
            arbol.store.sync();
            arbol.getView().refresh();

        }
        else {
            var arbol = Ext.getCmp('TreeWest');
            arbol.store.proxy.url = "HClinica/ArbolMacroProcesos";
            arbol.store.load(arbol.getRootNode());
            arbol.store.sync();
            arbol.getView().refresh();
        }

    }


</script>
@(

 X.Panel()
        .AutoScroll(true)
        //  .LayoutConfig(new VBoxLayoutConfig() { Align = VBoxAlign.Center, Pack = BoxPack.Center })
     .ID("PanelMainMP")
     .TopBar(
                X.Toolbar()
                    .StyleSpec("padding-bottom:0px;")
                    .Items(
                            X.TabStrip().Listeners(l => { l.TabChange.Fn = "cambiotab"; })
                            .Items(t =>
                            {
                                t.Add(X.Tab().TabID("Ate").ActionItemID("TreeWest").Text("Atención"));
                                //t.Add(X.Tab().TabID("Bita").ActionItemID("TreeWestBitacora").Text("Bitácora (" + Model.PERFILACTUAL + ")"));
                            })
                        ,
                        X.ToolbarFill(),


                                  Html.X().Button().Text("").Html("<text style='color:#15498b';>Historial</text>")
        //.Text("Reportes")
                                                            .ID("btnHCEHCWest").Hidden(indicaTriaje)
                                                    .Icon(Icon.FolderTable).Width(100)
                                                        .ToolTip("Historia Clínica")
                                                    .Listeners(l =>
                                                    {
                                                        l.Click.Handler = "eventoViewHistoriaClinicaWest();";
                                                    }),


                               Html.X().Button().Text("").Html("<text style='color:#15498b';>Bitácora</text>")
        //.Text("Reportes")
                                                .ID("btnHCEBitacoraWest").Hidden(true)
                                            .Icon(Icon.FolderTable).Width(70)
                                            .ToolTip("Vista de la Bitácora")
                                            .Listeners(l =>
                                            {
                                                l.Click.Handler = "eventoViewBitacoraWest();";
                                            })

                               ,
                                Html.X().Button()
        //.Text("Reportes")
                                    .ID("btnHCEAlergiaeWest")
                                        .Icon(Icon.FlagRed).Hidden(!flagAlergia)
                                    .ToolTip("Alergias")
                                    .Listeners(l =>
                                    {
                                        l.Click.Handler = "eventoViewAlergiaWest();";
                                    })
                                           ,
                                Html.X().Button()
        //.Text("Reportes")
                                    .ID("btnHCEAlergiaeWest02")
                                        .Icon(Icon.FlagWhite).Hidden(flagAlergia)
                                    .ToolTip("Alergias").Enable(true),
                                    Html.X().Button()
        //.Text("Reportes")
                                        .ID("btnHCEReporteAntWest")
                                                .Icon(Icon.BookPrevious).Hidden(indicaTriaje)
                                        .ToolTip("Vista de historial antiguo")
                                        .Listeners(l =>
                                        {
                                            l.Click.Handler = "eventoViewReportAntWest();";
                                        })
                                               ,
                                   Html.X().Button()
        //.Text("Reportes")
                                    .ID("btnHCEReporteWest")
                                        .Icon(Icon.Report).Hidden(indicaTriaje)
                                    .ToolTip("Vista de los Informes de Procedimiento Spring")
                                    .Listeners(l =>
                                    {
                                        l.Click.Handler = "eventoViewReportWest();";
                                    })
                                           ,

                               X.Button()
                                  .Icon(Icon.ApplicationHome)
                                  .ToolTip("Inicio - Bandeja")
                                  .DirectEvents(ev =>
                                  {
                                      ev.Click.Url = "HClinica/validarCambiosFormularioInicio";
                                      ev.Click.Method = HttpMethod.GET;
                                  }),
                              X.Button().Hidden(true)
                                  .Icon(Icon.Cog)
                                  .ToolTip("Perfiles")
                                  .Menu(
                                        X.Menu()
                                                  .Items(AppSaludMVC.Controllers.HClinicaController.checkMenu.getCheckMenuCHE("dd"))
                                              .Items(X.MenuSeparator())
                                              .Items(X.MenuItem()
                                                    .Text("Aplicar")
                                                    .IconCls("icon-collapse-all")

                                                )
                             )

                    )
     )
    .Items(
        Html.X().TreePanel()
        //.BodyStyle("border: none;")
                .Border(false)
                .Layout(LayoutType.Fit)
                .ID("TreeWest")
                .TopBar(
                    X.Toolbar().Hidden(true)
                        .Items(
                            X.ToolbarFill(),
                            new TriggerField
                            {
                                Hidden = true,
                                ID = "SearchOpciones",
                                AutoFocus = true,
                                EnableKeyEvents = true,
                                Flex = 1,
                                EmptyText = "Filter Procesos...",
                                Triggers =
                            {
                                new FieldTrigger
                                {
                                    HideTrigger = true,
                                    Icon = TriggerIcon.Clear
                                }
                            }
                            }
                              )
                         )
                .Store(
                    Html.X().TreeStore()
                        .Proxy(
                              Html.X().AjaxProxy().Url(Url.Action("ArbolMacroProcesos"))
                        )
                )
                .Root(
                    Html.X().Node().NodeID(Model.OPCION_PADRE)
                        .Text((Model.OPCION_PADRE != null ? (Model.PERFILACTUAL + "").Trim() : "OPCIONES NO DETERMINADAS")).Expanded(true)
        // .Text(("MACROPROCESOS HCE"))
                )
                     .Listeners(l =>
                     {
                         l.CheckChange.Handler = "Ext.get(this.getView().getNode(item))[checked ? 'addCls' : 'removeCls']('complete')";

                         l.AfterRender.Handler = "this.getRootNode().expand(true);";
                         l.AfterRender.Delay = 50;
                     })
                .DirectEvents(ev =>
                {
                    //ev.Select.Url = "HClinica/LoadCentral";
                    ev.Select.Url = "HClinica/validarCambiosFormulario";
                    ev.Select.Method = HttpMethod.GET;
                    ev.Select.ExtraParams.Add(new
                    {
                        text = JRawValue.From("record.data.id"),
                        containerId = "Center1"
                    });

                })
                   .Listeners(l =>
                   {
                       l.ItemClick.Fn = "nodeLoad";

                       l.BeforeRender.Handler = "initLoadFormatos();";
                   })

    //,
        //    Html.X().TreePanel()
        ////.StyleHtmlCls("TreePanelBody-RS")
        //    .Border(false)
        //    .Layout(LayoutType.Fit)
        //            .ID("TreeWestBitacora")
        //            .Store(
        //                Html.X().TreeStore().ID("TSBita")
        //                .AutoLoad(true)
        //                    .Proxy(
        //                          Html.X().AjaxProxy().Url(Url.Action("ArbolMacroProcesosBitacora"))
        //                    )
        //            )
        //            .RootVisible(false)
        //            .Root(
        //                Html.X().Node().NodeID("root")
        //                    .Text((Model.OPCION_PADRE != null ? (Model.PERFILACTUAL + "-BITACORA").Trim() : "OPCIONES NO DETERMINADAS"))
        //// .Text(("MACROPROCESOS HCE"))
        //            )
        //            .Expand(true)
        //            .DirectEvents(ev =>
        //                        {
        //                            ev.Select.Url = "HClinica/LoadFormatoBitacora";
        //                            //ev.Select.Url = "HClinica/validarCambiosFormulario";
        //                            ev.Select.Method = HttpMethod.GET;
        //                            ev.Select.ExtraParams.Add(new
        //                                                {
        //                                                    node = JRawValue.From("record.data.id"),
        //                                                    containerId = "Center1"
        //                                                });
        //                        })

    )
)
