@{
    Layout = null;
    HttpContext.Current.Items["ext.net.mvc.example"] = true;
}

<!DOCTYPE html>

<html>
<head>

    <title>HCE-VitalDocs - Asistencial</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/examples03.css")" />
    <link rel="stylesheet" href="@Url.Content("~/resources/css/customHCE.css")" />
    @RenderSection("cabecera", false)
</head>
<body>
    @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig)
    @RenderSection("cuerpo", true)
</body>
</html>
