@model IEnumerable<SoluccionSalud.Entidades.Entidades.SEGURIDADCONCEPTO>

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.APLICACIONCODIGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRUPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONCEPTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONCEPTOPADRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDPAGINA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCIONINGLES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VISIBLEFLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPODEDETALLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPODEOBJETO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJETO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPODEACCESO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJETOWINDOW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORKFLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORKAGREGARFLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORKMODIFICARFLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORKBORRARFLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORKAPROBARFLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEBFLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEBPAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEBACTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEBGRUPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEBGRUPOSECUENCIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ULTIMOUSUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ULTIMAFECHAMODIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.APLICACIONCODIGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRUPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONCEPTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONCEPTOPADRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDPAGINA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCIONINGLES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VISIBLEFLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPODEDETALLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPODEOBJETO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBJETO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPODEACCESO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBJETOWINDOW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORKFLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORKAGREGARFLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORKMODIFICARFLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORKBORRARFLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORKAPROBARFLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEBFLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEBPAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEBACTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEBGRUPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEBGRUPOSECUENCIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ULTIMOUSUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ULTIMAFECHAMODIF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
