@model SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL


@{
    var X = Html.X();
    var COLOR_BLUE01_temp = "#284A89";
    var COLOR_RED01_temp = "#990000";
    var COLOR_GREEN01_temp = "#177506";
    var COLOR_YELLOW02_temp = "#D9A407";
    var urlActivo = "";
    urlActivo = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.PacienteDatos1;

    var EpisodioClinico = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.EpisodioClinico;
    var EpisodioAtencion = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.EpisodioAtencion;
    var UnidadReplicacion = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.UnidadReplicacion;
    var PacienteID = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.PacienteID;
    var ESTADOFORMULARIO = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.ESTADOFORMULARIO_ACCION;

    var ConceptoFormulario = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.CONCEPTO;
    var IdOpcionActual = SoluccionSalud.Entidades.Entidades.ENTITY_GLOBAL.Instance.IDOPCION_ACTUAL;

    var RUTA_RAIZ = "/HClinica/CCEP0F90_View?_dc=1545340859871";



    var NODOROOT_desc = "DOCUMENTOS-SALUD";
    var NODOROOT_id = "1|0|0|";
}

<style type="text/css">
    /*<![CDATA[*/
    #img_uno {
        width: auto;
        height: 100%;
        align-self: center;
        -webkit-user-select: none;
        cursor: zoom-in;
    }

    #img_dos {
        -webkit-user-select: none;
        cursor: zoom-out;
    }

    .logo {
        border: solid 3px #000;
    }
    /*]]>*/
</style>

<script>

    var actualPrev_X = null;
    var actualPrev_Y = null;
    var actualPrev_H = null;
    var actualPrev_W = null;

    var panelActual = null;
    var pathImage = "resources/IndexImagen/";

    var loadReporte = function (record) {
        var desc = record.data.text;
        var id = record.data.id;


        var showURL = '';
        var path = '';
        var accionReport = '';
        var pathLocalURL = 'Reportes/VisorReportesHCE.aspx?ReportID=';
        var showURL_end = '&Visor=I';

        if (id > 1) {
            var cont = App.centerPanels;
            cont.setTitle('Selección actual: ' + desc);

            Ext.net.DirectMethod.request({
                url: '@(Url.Action("eventoLoadReporte"))',
                params: {
                    containerId : '',
                    text: id
                },
                success: function (resultRegla) {
                    if (resultRegla.data != null) {
                        if (resultRegla.data[0].TIPOMSG == 'FFIJO') {
                            showURL_end = '&Visor=I';
                            path = resultRegla.data[0].TITULO;
                            accionReport = resultRegla.data[0].DESCRIPCION;
                            if (accionReport != null) {
                                showURL = path + pathLocalURL + accionReport + showURL_end;
                            } else {
                                showURL = 'http://www.sanna.pe';
                            }
                            var contX = cont.getLoader();
                            cont.getLoader().url = 'http://' + showURL;
                            contX.load({
                                params: {
                                }
                            });
                            /*
                            showURL = 'localhost:11505/Reportes/VisorReportesHCE.aspx?ReportID=CCEP0003&Visor=I';
                            contendiv('http://'+showURL);
                            */
                        } else {
                        }
                    }
                }
            });

            /**
              implementar evento load reporte
              contendiv("http://localhost:11505/Reportes/VisorReportesHCE.aspx?ReportID=CountryListReport&dc=1464211190953");
            */
        } else {
        }
    };

    function contendiv(showURL) {
        /* definimos el elemento donde insertamos la imagen
        */
        var div = document.getElementById('centerPanels-body');
        div.style.overflow = 'scroll';
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                div.innerHTML = xmlHttp.responseText;
            }
        };
        xmlHttp.open("GET", showURL, true);
        xmlHttp.send(null);



    }
    function imagendiv(showURL) {
        var imagen = document.createElement('img');
        /* agregamos propiedades al elemento
        */
        imagen.src = showURL;
        imagen.id = 'img_uno';
        imagen.className = 'logo';
        imagen.title = 'titulo de la imagen';
        imagen.alt = 'texto alternativo';
        imagen.onclick = function () {
            if (this.id == 'img_uno') {
                this.id = 'img_dos';
            } else {
                this.id = 'img_uno';
            }
        };
        /* definimos el elemento donde insertamos la imagen
        */
        var div = document.getElementById("centerPanels-body");
        div.innerHTML = "";
        div.style.overflow = "scroll";
        /* agregamos la imagen
        */
        div.appendChild(imagen);
    }



    var accionReloadNodoRoot = function (buscar) {
        if (true) {
            var tree = App.TreeDocumentosHC;
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("setNodoRootGeneral"))',
                params: {
                    tipo: 0,
                    text: '@(NODOROOT_desc)',
                    id: '@(NODOROOT_id)',
                    leaf: false
                },
                success: function (node) {
                    if (!Ext.isEmpty(node)) {
                        tree.setRootNode(node);
                    }
                    else {
                        tree.getRootNode().removeAll();
                    }
                    if (buscar) {
                        buscarfiltrosArbol(node.text);
                    }
                }
            });
        } else {
        }
    };

    var buscarfiltrosArbol = function (texto) {
        var tree = App.TreeDocumentosHC;
        tree.clearFilter();
        if (Ext.isEmpty(texto, false)) {
            return;
        } else {
            var re = new RegExp(".*" + texto + ".*", "i");
            tree.filterBy(function (node) {
                return re.test(node.data.text);
            });
        }
    };
    var eventoCheckFiltro = function (check, componente) {
        var checkAll = check.getValue();
        if (checkAll) {
            componente.setDisabled(true);
            componente.setValue(null);
        } else {
            componente.setDisabled(false);
        }
    };
    var eventoCheckFiltroCompuesto = function (check, componente1, componente2, componente3, btn) {
        var checkAll = check.getValue();
        if (checkAll) {
            componente1.setDisabled(true);
            componente1.setValue(null);
            componente2.setDisabled(true);
            componente2.setValue(null);
            componente3.setDisabled(true);
            componente3.setValue(null);
            btn.setDisabled(true);
        } else {
            componente1.setDisabled(false);
            componente2.setDisabled(false);
            componente3.setDisabled(false);
            btn.setDisabled(false);
        }
    };

    function seleccionadorMedico() {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("seleccionadorMedico"))',
            params: {
                AccionSeleccion: 'getSeleccionMedicoEsp_DocHC',
                AccionListado: 'LISTARPAG'
            }
        });
    };

    function seleccionadorDiagnosticoDoc() {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("seleccionadorDiagnostico"))',
            params: {
                AccionSeleccion: 'getSeleccionDiagnostico_DocHC',
                AccionListado: 'LISTARPAG'
            }
        });
    };

    function seleccionadorUnidadServicio() {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("seleccionadorUnidadServicio"))',
            params: {
                AccionSeleccion: 'getSeleccionCatUnidadServicio_DocHC',
                AccionListado: 'LISTARPAG'
            }
        });
    };

    function initLoadFormatosArbol(opc) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("LoadFormatosArbol"))',
            params: {
                containerId: 'Center1',
                opc: opc
            }
        });
    }

    function cambiotab(val1, val2, val3) {


        initLoadFormatosArbol(val2.id);

        if (val2.id == "Bita") {
            var arbol = Ext.getCmp('TreeWestBitacora');
            arbol.store.proxy.url = "HClinica/ArbolMacroProcesosBitacora";
            arbol.store.load(arbol.getRootNode());
            arbol.store.sync();
            arbol.getView().refresh();

        }
        else {
            var arbol = Ext.getCmp('TreeWest');
            arbol.store.proxy.url = "HClinica/ArbolMacroProcesos";
            arbol.store.load(arbol.getRootNode());
            arbol.store.sync();
            arbol.getView().refresh();
        }

    }



    function EnviaDataParam() {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("cerrarBitacora"))',
            params: {
                UnidadReplicacion: App.txtUnidadReplicacion.getValue(),
                PacienteID: App.txtIdPaciente.getValue(),
                EpisodioClinico: App.txtEpisodioClini.getValue(),
                EpisodioAtencion: App.txtEpisodioAtencion.getValue(),
                ESTADOFORMULARIO: App.txtFormularioAccion.getValue(),
                ConceptoFormulario: App.txtConceptoFormulario.getValue(),
                IdOpcionActual: App.txtIdOpcionActual.getValue()
            }
        });
    }

    function alerta() {
        alert(App.txtEpisodioClini.getValue() + "-" + App.txtEpisodioAtencion.getValue() + "-" + App.txtUnidadReplicacion.getValue() + "-" + App.txtIdPaciente.getValue());
    }

</script>

@(X.TaskManager()
        .ID("TaskManager1")
        .Tasks(X.Task()
            .TaskID("Task1")
            .Interval(500)
            .AutoRun(false)
            .DirectEvents(de =>
            {
                de.Update.Action = "RefreshProgress";

                //de.Update.EventMask.ShowMask = true;
            })
        )
)

@(Html.X().Window()
        .Width(1262)// 04/09/2020 agrego
    .Height(670).Flex(1)
     .Constrain(true) // 09/07/2019 agrego
        //.X(0)
        //.Y(0)
    .Maximizable(true)
    .Closable(true)
    .Maximized(true)
    .Modal(true)
    .OnEsc("false")
    .AutoScroll(true)
    .Resizable(true)
    .Layout(LayoutType.Fit)
    .CloseAction(CloseAction.Destroy)
    .Icon(Icon.ApplicationForm)
    .ID("WindowAsignarPerfilHC")
                 .Title("<span id='pacienteheade' style=' Color: #8C1C07; font-size: 18px;'> Historia Clínica - " + Session["NOMBREPACIENTE_HEAD"] + " &nbsp; &nbsp; " + Session["EDADPACIENTE_HEAD"] + "</span>")
    .Padding(4)
    .Items(     
            Html.X().Panel()
                    //.Region(Region.Center)
                    .ID("centerPanels")
                    .Height(600)

                  //  .Title("Vista de Historia Clínica")
                    .AutoDoLayout(false)
                    .TopBar( 
                            X.Toolbar()
                            .Height(30)                
                            )
                    .Loader(
                        Html.X().ComponentLoader()
                        .Listeners(l =>
                        {
                            //EVENTO JAVA SCRIPT
                            l.Load.Handler = "loadReporte(record);";
                        })
                        .ID("compLoaderReporte")
                        .AutoLoad(true)
                        .Url("HistoriaClinicaWest/Index")
                        .Mode(LoadMode.Frame)
                        .LoadMask(lm => lm.ShowMask = true)
                        .Mode(LoadMode.Frame)
                        .ReloadOnEvent(false)
                        .DisableCaching(true)
                    )
            )
)
    )//FIN
    .CloseAction(CloseAction.Destroy)
        /*.Listeners(l =>
        {
            l.Maximize.Handler = "alert('MAXX');";
        })  */
        //.Html(DateTime.Now.ToLongTimeString())

)


